.ef-programm-main-wrapper ul.uk-tab,
.ef-programm-main-wrapper ul.uk-subnav,
.ef-programm-main-wrapper ul.uk-switcher {
  list-style: none;
}
.ef-programm-main-wrapper .uk-button-group {
  margin-bottom: 3px;
}
.ef-programm-main-wrapper .uk-button-group .uk-button {
  padding: 0 10px;
  background-color: #f1f1f1;
  font-size: 13px;
  border-radius: 0;
  box-shadow: none;
}
.ef-programm-main-wrapper .uk-button-group .uk-button:active,
.ef-programm-main-wrapper .uk-button-group .uk-button.uk-active {
  background: #ee7000;
  color: #fff;
}
.ef-programm-main-wrapper .uk-button-group > *:not(:last-child) {
  margin: 0 3px 0 0;
}
.ef-programm-main-wrapper .uk-button-group > .uk-active {
  border-color: transparent;
}
.ef-programm-main-wrapper .uk-button-group input[id^=ef-programm-search] {
  background-color: #f1f1f1;
  min-height: 28px;
  height: auto;
  font-size: 13px;
  line-height: 28px;
  border: 1px solid transparent;
  width: 120px;
  padding: 0 10px;
  border-radius: 0;
}
.ef-programm-main-wrapper .uk-button-group input[id^=ef-programm-search]:focus {
  background-color: #fff;
  border-color: #f1f1f1;
}
.ef-programm-main-wrapper .printfriendly {
  position: static;
  -webkit-appearance: none;
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: #444;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 12px;
  background: #eee;
  vertical-align: middle;
  line-height: 30px;
  min-height: 30px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border-radius: 0;
  text-shadow: none;
  padding: 0 10px;
  float: none;
  font-size: 14px;
}
.ef-programm-main-wrapper .uk-subnav-pill > * > * {
  background-color: #f1f1f1;
  color: #676767;
  padding: 4px 8px;
  font-size: 13px;
}
.ef-programm-main-wrapper .uk-subnav-pill > * > *:empty {
  display: none;
}
.ef-programm-main-wrapper .uk-subnav-pill > .uk-active > * {
  background-color: #ee7000;
  color: #fff;
}
.ef-programm-main-wrapper.ef-programm-multiple .ef-programm > .uk-grid > div > .uk-panel-box {
  padding-top: 50px;
}
.ef-programm ul ul {
  list-style-type: square;
}
.ef-programm ul ul ul {
  list-style-type: circle;
}
.ef-programm [id^=ef-topics-filter] {
  margin-left: -3px;
  margin-top: -3px;
}
.ef-programm [id^=ef-topics-filter] li {
  padding-left: 3px;
  margin: 3px 0 0 0;
}
.ef-programm [id^=ef-topics-filter].uk-active {
  background: rgba(0,14,26,0.9);
  padding: 10px 5px 20px;
  width: 100% !important;
  left: 0;
  box-sizing: border-box;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .ef-programm [id^=ef-topics-filter].uk-active li a {
    padding: 2px 4px;
  }
}
.ef-programm .ef-programm-main-filter a {
  color: #ee7000;
  font-weight: 600;
}
@media (max-width: 767px) {
  .ef-programm .ef-programm-cat-filter {
    display: none;
  }
}
.ef-programm .ef-programm-pf-title,
.ef-programm .ef-programm-pf-filter-title {
  display: none;
}
.ef-programm .uk-panel-box {
  background-color: rgba(0,0,0,0.05);
  position: relative;
}
.ef-programm .uk-panel-box h4 {
  font-weight: 600;
  margin: 0;
}
.ef-programm .uk-panel-box .ef-topic-cat {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #ee7000;
}
.ef-programm .uk-panel-box .ef-topic-cat:empty {
  display: none;
}
.ef-programm .ef-programm-time {
  padding: 3px 5px;
  color: #fff;
  background-color: #ee7000;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
}
.ef-programm .ef-programm-text {
  margin-top: 15px;
}
.ef-programm .ef-programm-text li {
  list-style-type: square;
}
.ef-programm .ef-programm-person {
  margin: 5px 0;
}
.ef-programm .ef-programm-person a {
  text-decoration: none;
  color: inherit;
}
.ef-programm .ef-programm-person figure {
  display: flex;
  align-items: center;
}
.ef-programm .ef-programm-person figure img {
  width: 100px;
  display: block;
  flex: none;
}
.ef-programm .ef-programm-person figure figcaption {
  margin-left: 15px;
  line-height: 1.2em;
}
.ef-programm .ef-programm-person-title {
  font-weight: bold;
  display: block;
}
.ef-programm .ef-programm-person-position {
  font-size: 0.9em;
}
.ef-programm .ef-programm-person-company {
  font-size: 0.9em;
  font-weight: 600;
}
.ef-programm .ef-programm-type {
  display: block;
  text-transform: uppercase;
}
.ef-programm .ef-programm-type::before {
  content: "\f0da";
  font-family: FontAwesome;
  color: #444;
  font-size: 120%;
  vertical-align: -0.05em;
  margin-right: 5px;
}
.ef-programm .ef-programm-cluster {
  background: #fff;
  margin-top: 15px;
}
.ef-programm .ef-programm-cluster-item + * {
  margin-top: 15px;
}
.ef-programm .ef-programm-cluster-item h5 {
  font-size: 15px;
  font-weight: 600;
}
.ef-programm .ef-programm-parallel .ef-programm-parallel-item h5 {
  font-size: 15px;
  font-weight: 700;
}
.ef-programm .ef-programm-parallel [class*=ef-program-parallel-sub-item] {
  margin-bottom: 5px;
  font-size: 14px;
  background-color: rgba(255,255,255,0.7);
}
.ef-programm .ef-programm-parallel [class*=ef-program-parallel-sub-item] h6 {
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}
.ef-programm .ef-programm-parallel [class*=ef-program-parallel-sub-item] .ef-programm-person-title {
  font-size: 13px;
}
.ef-programm .ef-programm-parallel .uk-tab {
  border-bottom: 1px solid #ee7000;
}
.ef-programm .ef-programm-parallel .uk-tab > li {
  margin: 0;
}
.ef-programm .ef-programm-parallel .uk-tab > li.uk-active > a {
  height: 22px;
  margin-top: -4px;
  background-color: #ee7000;
  border-color: #ee7000;
  color: #fff;
  box-shadow: -2px 0px 2px rgba(0,0,0,0.2);
}
.ef-programm .ef-programm-parallel .uk-tab > li.uk-active:first-child > a {
  box-shadow: 2px 0px 2px rgba(0,0,0,0.2);
}
.ef-programm .ef-programm-parallel .uk-tab > li > a {
  height: 18px;
  background-color: #fff;
  color: #888;
  box-sizing: content-box;
}
.ef-programm .ef-programm-parallel .ef-program-section {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}
.ef-programm .ef-programm-parallel .ef-program-section h3 {
  font-size: 1.1em;
  text-transform: none;
}
@media (max-width: 767px) {
  .ef-programm .ef-programm-parallel.uk-panel-box,
  .ef-programm .ef-programm-parallel .uk-panel-box,
  .ef-programm .ef-programm-cluster.uk-panel-box,
  .ef-programm .ef-programm-cluster .uk-panel-box {
    padding: 15px;
  }
}
.ef-programm .ef-program-section .uk-panel-box {
  padding-bottom: 3px;
}
.ef-programm .ef-program-section h3 {
  font-size: 1.3em;
  line-height: 1.2em;
  margin: 0;
  background: rgba(238,112,0,0.09);
  padding: 5px 10px;
}
.ef-programm .ef-programm-slot-tags {
  display: none;
}
.ef-programm div[data-uk-grid] {
  transition: height 0.6s ease-out;
}
.ef-programm-grid-view .ef-programm-person {
  width: 100%;
}
.ef-programm-grid-view .ef-program-section {
  display: none !important;
}
.ef-programm-grid-view .ef-programm-parallel.uk-panel-box,
.ef-programm-grid-view .ef-programm-parallel .uk-panel-box,
.ef-programm-grid-view .ef-programm-cluster.uk-panel-box,
.ef-programm-grid-view .ef-programm-cluster .uk-panel-box {
  padding: 15px;
}
.ef-programm-list-view div[data-uk-grid] {
  margin-left: 0 !important;
  margin-top: 35px;
}
.ef-programm-list-view div[data-uk-filter] {
  padding: 0 !important;
}
.ef-programm-list-view div[data-uk-filter]:not(.ef-program-section) {
  border-top: 1px solid rgba(238,112,0,0.6);
}
.ef-programm-list-view div[data-uk-filter] > .uk-panel-box {
  background: transparent;
  padding-left: 0;
  padding-right: 0;
}
.ef-programm-list-view .ef-programm-cluster {
  background: #f1f1f1;
}