.ef-program-time-label {
    color: #fff;
    background-color: #555;
    padding: 1px 3px;
    border-radius: 3px;
    margin-right: 5px;
}
.ef-program-type-label + .ef-program-title-label::before {
	content: ' | ';
}
.ef-program-layout-label {
    background-color: #f1f1f1;
    padding: 1px 3px;
    border-radius: 3px;
    float: right;
    margin-right: 20px;
}
.layout:hover .ef-program-layout-label {
    opacity: 0;
    visibility: hidden;
}
.layout[data-layout="ef-program-section"] .acf-fc-layout-handle {
    font-weight: bold;
    background-color: #efefef;
}