@ef-programm-main-color: #ee7000;
@ef-programm-secondary-color: #f1f1f1;

.ef-programm-main-wrapper {

	ul.uk-tab, ul.uk-subnav, ul.uk-switcher {
		list-style: none;
	}

	.uk-button-group {
		margin-bottom: 3px;

		.uk-button {
			padding: 0 10px;
			background-color: @ef-programm-secondary-color;
			font-size: 13px;
			border-radius: 0;
			box-shadow: none;
		}
		.uk-button:active, .uk-button.uk-active {
		    background: @ef-programm-main-color;
		    color: #fff;
		}

		> *:not(:last-child) {
			margin: 0 3px 0 0;
		}
		> .uk-active {
			border-color: transparent;
		}
		input[id^=ef-programm-search] {
			background-color: @ef-programm-secondary-color;
			min-height: 28px;
			height: auto;
			font-size: 13px;
			line-height: 28px;
			border: 1px solid transparent;
			width: 120px;
			padding: 0 10px;
			border-radius: 0;	
			&:focus {
				background-color: #fff;
				border-color: @ef-programm-secondary-color;
			}
		}
	}
	.printfriendly {
		position: static;
		.uk-button;
		margin: 0;
		padding: 0 10px;
		float: none;
		font-size: 14px;
	}

	.uk-subnav-pill {
		> * > * {
			background-color: @ef-programm-secondary-color;
			color: #676767;
			padding: 4px 8px;
			font-size: 13px;

			&:empty {
				display: none;
			}
		}
		> .uk-active > * {
			background-color: @ef-programm-main-color;
			color: #fff;
		}
	}
	&.ef-programm-multiple {
		.ef-programm {
			> .uk-grid {
				> div {
					> .uk-panel-box {
						padding-top: 50px;
					}
				}
			}
		}
	}
}

.ef-programm {

	ul ul {
		list-style-type: square;

		ul {
			list-style-type: circle;
		}
	}

	[id^=ef-topics-filter] {

		margin-left: -3px;
		margin-top: -3px;

		li {
			padding-left: 3px;
			margin: 3px 0 0 0;
		}

		&.uk-active {
			background: fade(#000e1a, 90%);
			padding: 10px 5px 20px;
			width: 100% !important;
			left: 0;
			box-sizing: border-box;
			right: 0;
			margin: 0;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			@media(max-width: @breakpoint-small-max){
				li {
					a {
						padding: 2px 4px;
					}
				}
			}
		}
	}

	.ef-programm-main-filter {
	    a {
	        color: @ef-programm-main-color;
	        font-weight: 600;
	    }
	}

	.ef-programm-cat-filter {

		@media(max-width: @breakpoint-small-max){
	    	display: none;
	    }
	}

	/* only visible for printfriendly plugin */
	.ef-programm-pf-title, .ef-programm-pf-filter-title {
		display: none;
	}

	.uk-panel-box {
		background-color: fade(#000, 5%);
		position: relative;

		h4 {
			font-weight: 600;
			margin: 0;
		}
		.ef-topic-cat {
			position: absolute;
			top: 0;
			right: 0;
			padding: 5px 10px;
			color: #fff;
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
			background-color: @ef-programm-main-color;

			&:empty {
				display: none;
			}
		}
	}

	.ef-programm-time-wrapper {
		display: flex;
		margin-bottom: 15px;

		form {
			margin: 0;
		}

		.ef-add-to-cal {
			font-size: 16px;
		    border: 1px solid @ef-programm-main-color;
		    background: transparent;
		    color: @ef-programm-main-color;

		    &:hover {
		    	background: @ef-programm-main-color;
		    	color: #fff;
		    }
		}
	}

	.ef-programm-time {
	    padding: 3px 5px;
	    color: #fff;
	    background-color: @ef-programm-main-color;
	    font-size: 12px;
	    font-weight: 600;
	    display: inline-block;
	}
	.ef-programm-text {
		margin-top: 15px;
		
	    li {
	        list-style-type: square;
	    }
	}
	.ef-programm-person {
		margin: 5px 0;
		
		a {
			text-decoration: none;
			color: inherit;
		}
		figure {
			display: flex;
			align-items: center;

			img {
				width: 100px;
				display: block;
				flex: none;
			}
			figcaption {
				margin-left: 15px;
				line-height: 1.2em;
			}
		}
	}
	.ef-programm-person-title {
		font-weight: bold;
		display: block;
	}
	.ef-programm-person-position {
	    font-size: 0.9em;
	}
	.ef-programm-person-company {
	    font-size: 0.9em;
	    font-weight: 600;
	}
	.ef-programm-type {
	    display: block;
	    text-transform: uppercase;

	    &::before {
	    	content: "\f0da";
	    	font-family: FontAwesome;
	    	color: #444;
	    	font-size: 120%;
	    	vertical-align: -0.05em;
	    	margin-right: 5px;
	    }
	}
	.ef-programm-cluster {
		background: #fff;
		margin-top: 15px;
	}
	.ef-programm-cluster-item {

		+ * {
			margin-top: 15px;
		}

		h5 {
			font-size: 15px;
			font-weight: 600;
		}
	}
	.ef-programm-parallel {

		.ef-programm-parallel-item {

			h5 {
				font-size: 15px;
				font-weight: 700;
			}
		}
		[class*=ef-program-parallel-sub-item] {
			margin-bottom: 5px;
			font-size: 14px;
			background-color: fade(#fff, 70%);

			h6 {
				font-size: 14px;
				font-weight: 700;
				margin-top: 10px;
			}
			.ef-programm-person-title {
				font-size: 13px;
			}
		}
		.uk-tab {
			border-bottom: 1px solid @ef-programm-main-color;
			> li {
				margin: 0;

				&.uk-active {
					> a {
						height: 22px;
						margin-top: -4px;
						background-color: @ef-programm-main-color;
						border-color: @ef-programm-main-color;
						color: #fff;
						box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.2);
					}

					&:first-child {
						> a {
							box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
						}
					}
				}
				> a {
					height: 18px;
					background-color: #fff;
					color: #888;
					box-sizing: content-box;
				}
			}
		}

		.ef-program-section {
			background-color: transparent;
			padding-left: 0;
			padding-right: 0;

			h3 {
				font-size: 1.1em;
				text-transform: none;
			}
		}
	}

	.ef-programm-parallel, .ef-programm-cluster {
		&.uk-panel-box, .uk-panel-box {

			@media(max-width: @breakpoint-small-max){
				padding: 15px;
			}
		}
	}
	.ef-program-section {
		.uk-panel-box {
			padding-bottom: 3px;
		}
		h3 {
			font-size: 1.3em;
			line-height: 1.2em;
			margin: 0;
			background: fade(@ef-programm-main-color, 9%);
			padding: 5px 10px;
		}
	}
	.ef-programm-slot-tags {
		display: none;
	}

	/* Springen des Footers beim Filtern verhindern */
	div[data-uk-grid] {
	    transition: height 0.6s ease-out;
	}
}
.ef-programm-grid-view {

	.ef-programm-person {
    	width: 100%;
    }

    .ef-program-section {
    	display: none !important;
    }

    .ef-programm-parallel, .ef-programm-cluster {
    	&.uk-panel-box, .uk-panel-box {
    		padding: 15px;
    	}
    }
}
.ef-programm-list-view {

	div[data-uk-grid] {
	    margin-left: 0 !important;
	    margin-top: 35px;
	}
	div[data-uk-filter] {
	    padding: 0 !important;
	    &:not(.ef-program-section){
	    	border-top: 1px solid fade(@ef-programm-main-color, 60%);
	    }

        > .uk-panel-box {
            background: transparent;
            padding-left: 0;
            padding-right: 0;
        }
	}
	.ef-programm-cluster {
		background: #f1f1f1;
	}
}
ul.triangle {
	li {
		list-style: none;

		&::before {
			content: "\f0da";
			font-family: FontAwesome;
			position: relative;
			left: -0.6em;
			font-size: 120%;
			vertical-align: -0.05em;	
		}
	}
}